<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2 style="color:rgb(107, 91, 0) ;">Esto es una prueba de MVT en Python</h2>
    <div>
        <h3 style="color:blue;">Datos del primer miembro</h3>
        <p>Nombre: {{familiar1.nombre}}</p>
        <p>Edad: {{familiar1.edad}}</p>
        <p>Fecha de Nacimiento: {{familiar1.fechaNac}}</p>
    </div>

    <div>
        <h3 style="color: blue">Datos del segundo miembro</h3>
        <p>Nombre: {{familiar2.nombre}}</p>
        <p>Edad: {{familiar2.edad}}</p>
        <p>Fecha de Nacimiento: {{familiar2.fechaNac}}</p>

    </div>

    <h3 style="color: blue">Datos del tercer miembro</h3>
    <div>
        <p>Nombre: {{familiar3.nombre}}</p>
        <p>Edad: {{familiar3.edad}}</p>
        <p>Fecha de Nacimiento: {{familiar3.fechaNac}}</p>
    </div>

    
</body>
</html>