{% extends "App1/padre.html" %}

{% load static %}

{% block cambioTitulo %}

<span class="subheading">Resultado búsqueda</span>

{% endblock %}

{% block seCambia %}

{% if nombres %}

<p>Estamos buscando integrantes de apellido {{apellido}}</p>



    <ul>
        {% for nombre in nombres %}

            <li>Nombre: {{nombre.nombre}}</li>
            <li>Apellido: {{nombre.apellido}}</li>
            <li>Edad: {{nombre.edad}}</li>
            <li>Profesión: {{nombre.profesion}}</li>
            <br>
        {% endfor %}
    </ul>

{% else %}
<p>No hay integrantes con ese apellido</p>

{% endif %}

<p style="color: red;">{{respuesta}}</p>

{% endblock %}