{% extends "App1/padre.html" %}

{% load static %}

{% block cambioTitulo %}

<span class="subheading">Resultado búsqueda</span>

{% endblock %}

{% block seCambia %}

<p>Estamos buscando integrantes de apellido {{apellido}}</p>

{% if nombres %}

    <ul>
        {% for nombre in nombres %}

            <li>Nombre: {{nombre.nombre}}</li>
            <li>Apellido: {{nombre.apellido}}</li>
            <li>Edad: {{nombre.edad}}</li>
            <li>Profesión: {{nombre.profesion}}</li>
            <br>
        {% endfor %}
    </ul>
    

{% endif %}

{% endblock %}